
	<h1 class="h1"> Welcome to FindThatAnime - Search an anime OP or ED song! </h1>
	<div class="pic-display-main" align="center">
		<%= image_tag("FindThatAnimeRenderLogoMedium.png", :id => "display-image") %>


	</div> <!-- pic-header-main -->

	<div class="search-bar-main" align="center">
		<%= form_tag animes_path, method: 'get' do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search" %>
		<%end %>
			
		
	</div>
