<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">FindThatAnime</h1>
        <p class="lead text-muted">Everything Anime.</p>
        <p>
<div class="row">
<div class="col">
	<%= form_tag songs_path, method: 'get' do %>
    <div class="input-group">
      <%= text_field_tag 'search', params[:search], placeholder: 'Search for a Song or Artist', class: 'form-control' %>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"> <span class="glyphicon glyphicon-search">Search</span></button>
      </span>
    <% end %>
    </div>
  </div>
</div>
      </span>
        </p>
      </div>
    </section>

<div class="album text-muted">
    <div class="container">
       	<div class="row">
<div class="card card card-info text-center" style="background-color: white; border-color: pink; -webkit-box-shadow: 10px 10px 56px -25px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 56px -25px rgba(0,0,0,0.75);
box-shadow: 10px 10px 56px -25px rgba(0,0,0,0.75);">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Search for your favorite Anime OP or ED.</p>
    </blockquote>
  </div>
</div>
<div class="card card card-info text-center" style="background-color: white; border-color: pink; -webkit-box-shadow: 10px 10px 56px -25px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 56px -25px rgba(0,0,0,0.75);
box-shadow: 10px 10px 56px -25px rgba(0,0,0,0.75);" >
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Text.</p>
    </blockquote>
  </div>
</div>
<div class="card card card-info text-center" style="background-color: white; border-color: pink; -webkit-box-shadow: 10px 10px 56px -25px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 56px -25px rgba(0,0,0,0.75);
box-shadow: 10px 10px 56px -25px rgba(0,0,0,0.75);">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Text.</p>
    </blockquote>
  </div>
</div>
        </div>
    </div>
</div>
