<div = class="container">
<h2 class="centermainheader">Songs</h2>




<div id="divPlayer1"></div>





  <table class="table table-striped">
    <tbody>
      <% @songs.each do |song| %>
        <% @selectedanime = song.anime.id %>
        <tr>
          <td class="songtitle"><%= link_to song.songtitle, controller: "animes", action: "show", id: @selectedanime %></td>

          <td class="songartist"><%= song.songartist %></td>
          <td class="animetitle"> <a href="<%= song.anime.mal %>"><%= song.animetitle %></td>


        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player1;
      var player2;
     function onYouTubeIframeAPIReady() {
        player1 = new YT.Player('divPlayer1', {
          height: '390',
          width: '640',
          videoId: 'M7lc1UVf-VE',
          events: {
            'onStateChange': onPlayerStateChange
          }
        });
      }
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }



$('#playButton').click(function () {
    $('#homeCarousel').carousel('cycle');
});
$('#pauseButton').click(function () {
    $('#homeCarousel').carousel('pause');
});
</script>
