<h1 class="h1"> Results for '<%= params[:search] %>' </h1>
<h2>Song Search</h2>

<table>
  <thead>
    <tr>
      <th colspan="2">Title</th>
      <th colspan="2">Song</th>
    </tr>
  </thead>

<table>
  <tbody>
    <% @animes.each do |anime| %>
      <tr> 
        <th><%= anime.title %></th>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

