<div class="navbar-default">
	<div class="navbar-filler">
		<ul class="navbar-mid">
			<li> <%= link_to "Home", welcome_index_path %> </li>
			<li><a href="INSERT LINK"> About </a></li>
			<li><a href="INSERT LINK"> Contact </a></li>
		</ul>
	</div> <!-- navbar-filler-->
</div> <!-- navbar-default -->
